* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #090909;
    --font-size: 19px;
    --grey: #4D5053;
    --number: #CDA274;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    background-color: var(--black);
}
.logo{
    width: 200px;
    
}
.nav__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav__logo{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 12px;
}
.logo__text{
    display: flex;
    font-size: 45px;
    color: white;
}
.tell{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.nav__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.nav__link{
    display: flex;
    font-size: 15px;
    color: white;
}
.nav__link:hover{
    display: flex;
    width:80px;
    height: 50px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:var(--black);
    border-radius: 5px;
    box-shadow: 0 0 5px white,
        0 0 25px white,
        0 0 50px white,
        0 0 100px white ;
}
.header__sec{
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    gap: 15px;
    justify-content: center;
    background-color: rgb(74, 72, 72);
}
.sec-1__title{
    display: flex;
    color: white;
    font-size: 30px;
}
.sec-1__text{
    color: white;
}
.tg__img{
    display: flex;
    width: 20px;
}
.sec-1__links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.sec-1__link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}
.sec-1__link-2{
    display: flex;
    justify-content: center;
    width: 300px;
    align-items: center;
    background-color: white;
    color: var(--black);
}
.main{
    background-color:var(--black);
}
.sec__title{
    display: flex;
    padding-top: 20px;
    font-size:45px ;
    color:white;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.card{
    display: flex;
    padding: 8px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
}
.card__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;

}
.card__img-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 135px;
}
.card__text{
    display: flex;
    color: #000;
    font-size: 12px;
}
.card__ttext-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 3px;
    color: white;
    background-color: #000;
}